.swiper-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;

}

.banner{border-top: 2px solid #ffb723;margin-top: 5px;}
.banner img{width: 100%;display: block;}

.section .title h2{font-size: 26px;padding-left: 30px;margin: 40px 0 30px;}
.app-info-box>h2{text-align: center;font-size: 20px;font-weight: bold;padding: 0 0 20px;}
.app-info-box .box img{width: 100%;display: block;padding-bottom: 5px;}
.app-info-box .box .pic{text-align: center;}
.app-info-box .box .pic span{font-size: 14px;margin-left: 15px;}
.section2{padding-bottom: 60px;}
.swiper-slide .pic{display: none;transition: all .4s;}
.swiper-slide-active .pic{display: block;}
.section2 .title h2{background: url(../images/public/music.png) no-repeat 0 center;background-size: 30px;}
.section2 .music .box{width: 32%;margin-right: 2%;position: relative;overflow: hidden;float: left;margin-bottom: 30px;}
.section2 .music .box2{margin-right: 0;}
.section2 .music .box img{width: 100%;display: block;}
.section2 .music .box .hiden{position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: rgba(0,0,0,.6);text-align: center;opacity: 0;transition: all .4s;}
.section2 .music .box .hiden  .pic{position: absolute;top: 120%;margin-top: -75px;left: 50%;margin-left: -75px;transition: all .6s;}
.section2 .music .box .hiden img{width: 150px;}
.section2 .music .box .hiden h2{color: #fff;font-size: 18px;padding: 15px 0 0;font-weight: bold;}
.section2 .music .box .hiden p{color: #fff;font-size: 14px;padding: 10px 0 0;font-weight: bold;}
.section2 .music .box:hover .hiden{opacity: 1;}
.section2 .music .box:hover .pic{top: 49%;}
.music>h2{font-size: 20px;font-weight: bold;padding: 30px 0 20px;text-align: center;}
