
.yishi{padding: 60px 0;}
.yishi h2{font-size: 16px;font-weight: bold;margin-bottom: 20px;text-align: center;}
.yishi p{font-size: 14px;line-height: 1.8;margin-bottom: 15px;letter-spacing: 1px;text-indent: 2em;}